@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";
@font-face {
  font-family: "SingleDay-Regular";
  src: url("/src/assets/fonts/SingleDay-Regular.ttf") format("truetype");
  font-display: auto;
}
* {
  font-family: "SingleDay-Regular";
  box-sizing: border-box;
}
