@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SingleDay-Regular";
    src: url("/src/assets/fonts/SingleDay-Regular.ttf") format("truetype");
    font-display: fallback;
}

* {
    font-family: "SingleDay-Regular";
}
